<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>




    <form method="POST" action="/login3">
        <label>Email    : </label>
        <input type="email" placeholder="email..." name="username" value="${prefill_login_email_old2_a}" required> <p>

        <label>Password : </label>
        <input type="password" placeholder="password..." name="password" value="${prefill_login_email_old2_b}" required> <p>
        <button type="submit" class="cancelbtn">Login</button> <p>

        <input type="checkbox" checked="checked"> Remember me
        <button type="button" class="cancelbtn">Cancel</button> <p>

        Forgot <a href="#">password?</a>

        <!-- Show error message if login fails -->
        <p style="color: red;">${param.error ? "Invalid username or password" : ""}</p>
        <p style="color: green;">${param.logout ? "You have been logged out successfully" : ""}</p>
    </form>




</body>
</html>